/*----------- navbar.html -----------*/
.nav-color {
    background-color: white !important;
}

.nav-logo {
    width: 200px;
}

.div-principal-navbar {
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.link-verde-escuro {
    color: #228998;
}

.link-verde-escuro:hover {
    color: #228998;
}

.link-verde-claro {
    color: #AFCA48;
}

.link-verde-claro:hover {
    color: #AFCA48;
}

.link-laranja {
    color: #DB5A33;
}

.link-laranja:hover {
    color: #DB5A33;
}
/*----------- //navbar.html -----------*/

/*----------- footer.html -----------*/
.footer {
    background-color: #343a40;
}

.div-logo {
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
}

.footer-logo {
    width: 250px;
}

.div-links-e-slogan {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.div-links {
    padding-left: 30px;
}

.div-slogan {
    justify-content: center;
}

.div-slogan p {
    text-align: justify;
    margin-top: 25px;
    margin-bottom: 0px;
}
/*----------- //footer.html -----------*/

/*----------- index.html -----------*/
.div-titulo {
    justify-content: center;
    margin-bottom: 35px;
}

.div-titulo h1 {
    font-family: "Lovely Nathalie Script", Arial, serif;
}

.span-acao {
    color: #AFCA48;
}

.span-diferenca {
    color: #228998;
}

.primeiro-paragrafo-cbl {
    text-align: justify;
    text-indent: 2em;
}

.span-nome-cbl {
    color: #DB5A33;
}

.div-video {
    flex-direction: column;
    align-items: center;
    padding: 25px 0px 25px 0px;
}
/*----------- //index.html -----------*/

/*----------- about.html -----------*/
.div-titulo-sobre {
    justify-content: center;
    margin-bottom: 35px;
}

.div-titulo-sobre h1 {
    font-size: 1.7em;
}

.div-conteudo-sobre {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 0px 0px 0px;
    text-align: center;
}

.div-diagrama-cbl {
    /* width: 40%;
    height: 30%; */
    display: flex;
    justify-content: center;
    align-self: center;
}

.div-diagrama-cbl img {
    width: 367px;
    height: fit-content;
    aspect-ratio: 340 / 340;
}

.div-paragrafos-sobre {
    flex-direction: row;
    width: 60%;
    justify-content: center;
    margin: 0px 0px 0px 40px;
}

.paragrafo-sobre-cbl {
    text-align: justify;
    text-indent: 2em;
}
/*----------- //about.html -----------*/

/*----------- signup.html -----------*/
.div-regras-senha p {
    font-size: 10px;
    font-weight: bold;
    color: #b0b3b6;
}
/*----------- //signup.html -----------*/

/*----------- login.html -----------*/
.div-titulo-login {
    padding: 2rem 1rem 2rem 1rem;
    justify-content: center;
}

.div-titulo-login h1 {
    margin: 0px;
}

.div-login {
    padding: 0rem 1rem;
}

#login-Block {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    align-items: center;
    justify-content: center;
}

#login-fields {
    flex: 0 0 50%;
    max-width: 100%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.login-selector-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 25px;
}

#password-recovery-button {
    color: #DB5A33;
    background-color: transparent;
}

.enter-button:active {
    border: none !important;
}
/*----------- //login.html -----------*/

/*----------- account.html -----------*/
.div-titulo-conta {
    padding: 0rem 1rem 2rem 1rem;
    justify-content: center;

}

.icone-perfil {
    color: #b0b3b6;
    margin-bottom: 7px;
}

.div-cabecalho-conta {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-conta {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.margin-forms-conta {
    margin: 10px;
}

.div-info-conta {
    font-size: smaller;
    color: #b0b3b6;
    margin: 35px 0px 0px 0px;
    text-align: center;
    justify-content: center;
}
/*----------- //account.html -----------*/

/*----------- my_challenges.html -----------*/
.div-icone-card {
    margin: 10px 0px 15px 0px;
    flex-direction: column;
    justify-content: center;
}
/*----------- //my_challenges.html -----------*/

/*----------- password_recovery.html -----------*/
.div-recuperacao-senha {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#div-email-field {
    flex-direction: column;
    flex: 0 0 auto;
    width: 30%;
}

#div-email-field p {
    text-align: justify;
}

#div-email-field form {
    flex-direction: column;
    align-items: center;
}

.div-form-email {
    margin: auto;
}

#botao-enviar-link {
    width: initial;
}
/*----------- //password_recovery.html -----------*/

/*----------- recovery_email_sent.html -----------*/
.div-email-sent {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: auto;
    padding-top: 2rem;
    text-align: justify;
}

.div-email-sent p {
    margin-top: 30px;
}

#botao-voltar {
    width: 200px;
}
/*----------- //recovery_email_sent.html -----------*/

/*----------- global -----------*/
@font-face {
    font-family: Lovely Nathalie Script;
    src: url("../fonts/LovelyNathalie.ttf");
}

html {
    min-height: 100%;
    min-width: 100%;
}

body {
    background-color: #F8F9FA;
    position: absolute;
    min-height: 100%;
    height: 100%;
    min-width: 100%;
    width: 100%;
}

.display-flex {
    display: flex;
}

.textoCentralizado {
    text-align: center;
}

.div-link-form {
    flex-direction: column;
    text-align: center;
}

.erro-form {
    margin-bottom: 10px;
}

.botao-form {
    width: 100%;
}

.botao {
    margin: 25px 0px 25px 0px;
    background-color: #228998 !important;
    color: #fff;
    border: none;
}

.section-conteudo-pagina {
    min-height: inherit;
    padding: 27px 51.4px 27px 51.4px;
}

.div-conteudo-pagina {
    padding: 45px 55px 45px 55px;
    background-color: white;
    border-radius: 3px;
}
/*----------- //global -----------*/

/* MediaQuery */
@media screen and (max-width: 600px){
    .div-conteudo-sobre{
        display: flex;
        padding: 0px 0px 0px 0px;
        float: left;
        text-align: center;
        align-items: flex-start;
        flex-direction: column;
    }
    
    .div-diagrama-cbl{
        display: inline-block;
        /* width: 10%;
        height: 10%; */
    }

    
.div-paragrafos-sobre {
    flex-direction: column;
    width: 20%;
    justify-content: center;
    margin: 10px 0px 0px 40px;
}

.div-diagrama-cbl img {
    width: 80%;
    height: 80%;
}
}

@media screen and(min-width:995px){
    .card-body{
        margin-left: 50%;
        padding-left: 50%;
    }
}