{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="section-conteudo-pagina">
        <div class="div-conteudo-pagina">
            <div class="display-flex div-titulo-sobre">
                <h1>
                    O que é a <span class="span-nome-cbl">Challenge Based Learning</span>?
                </h1>
            </div>
            <div class="display-flex div-conteudo-sobre">
                <div class="display-flex div-diagrama-cbl">
                    <img src="../static/images/cbl_circle.png">
                </div>
                <div class="display-flex div-paragrafos-sobre">
                    <p class="paragrafo-sobre-cbl">
                        A estrutura CBL (Challenge Based Learning) é colaborativa e prática, pedindo a todos os participantes (estudantes, professores,
                        famílias e membros da comunidade) que identifiquem Grandes Ideias, façam boas perguntas, identifiquem e resolvam Desafios,
                        adquiram conhecimento profundo da área temática, desenvolvam habilidades do século 21 e compartilhem seus pensamentos com o mundo.
                        A estrutura da CBL surgiu a partir do "Apple Classrooms of Tomorrow-Today" (ACOT2) projecto iniciado para identificar os princípios
                        essenciais do design do ambiente de aprendizagem do século XXI. Começando com os princípios de design do ACOT2, a Apple, Inc.
                        trabalhou com educadores exemplares para desenvolver e testar o CBL.
                    </p>
                    <p class="paragrafo-sobre-cbl">
                        O desafio Learning Framework está dividido em três fases interligadas: Engage, investigue e aja. Cada fase inclui atividades
                        que o preparam para passar para a próxima fase. Dentro de cada uma das fases existem oportunidades para ciclos de mini
                        investigação e, se necessário, um regresso a uma fase anterior. Apoiar todo o processo é um processo contínuo de documentação,
                        reflexão e partilha. Ao longo do desafio, os alunos documentam sua experiência usando áudio, vídeo, imagens e fotografia. A
                        coleção contínua de conteúdo fornece os recursos para reflexão, avaliação informativa e a documentação do processo de
                        aprendizagem.
                    </p>
                </div>
            </div>
            <div>
                <p class="paragrafo-sobre-cbl">
                    A CBL constrói sobre os alicerces da aprendizagem experiencial e se apoia fortemente na sabedoria de uma longa história de idéias
                    progressistas. A estrutura é informada por idéias inovadoras de educação, mídia, tecnologia, entretenimento, recreação, local de
                    trabalho e sociedade. Ela foi concebida para ser flexível, personalizável e permitir múltiplos pontos de entrada. A abordagem pode
                    conectar e ampliar a prática atual, servir como estrutura para eventos específicos de capstone durante o ano letivo e atuar como
                    uma estrutura institucional abrangente para a tomada de decisões e aprendizagem.
                </p>
                <p class="paragrafo-sobre-cbl">
                    A Aprendizagem Baseada em Desafios pode ser implementada de várias maneiras, e é concebida para apoiar outras abordagens pedagógicas.
                    Como verbo, ele expressa uma abordagem filosófica ao planejamento, resolução de problemas e aprendizagem. Por exemplo: Vamos CBL isto!
                    Como substantivo, o CBL pode ser um evento incorporado em uma experiência de aprendizagem ou servir como uma experiência capstone para
                    um curso. Por exemplo: No final do semestre, os alunos participarão de um desafio.
                </p>
                <p class="paragrafo-sobre-cbl">

                </p>
            </div>
        </div>
    </section>
{% endblock %}