{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <section class="section-conteudo-pagina">
        <div class="div-conteudo-pagina">
                <div class="div-titulo-conta">
                    <br>*
                    <div class="display-flex div-cabecalho-conta">
                        <i class="fa-solid fa-bolt link-verde-escuro fa-5x"></i>
                    </div>
                    <br><br>
                    <div class="display-flex div-titulo">
                        <h3 class="span-nome-cbl">{{ desafio.titulo }}</h3>
                    </div>
                </div>
                <form method="POST" action="{% url 'edicaoConta' %}">
                    {% csrf_token %}

                    <div class="form-group">
                        {{ form|crispy }}
                    </div>

                    <div class="display-flex div-link-form">
                        {% if error %}
                            <span class="erro-form" style="color: red;">{{ error }}</span>
                        {% endif %}
                    </div>

                     <button type="submit" value="Enviar" class="botao btn btn-primary">Salvar</button>
                </form>


        </div>
    </section>
{% endblock %}