{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="section-conteudo-pagina">
        <div class="div-conteudo-pagina">
            <div class="display-flex div-titulo">
                <h1>
                    Tome <span class="span-acao">ação</span>. Faça a <span class="span-diferenca">diferença</span>.
                </h1>
            </div>
            <div>
                <p class="primeiro-paragrafo-cbl">
                        A <span class="span-nome-cbl">aprendizagem baseada em desafios (CBL)</span> fornece uma estrutura eficiente e eficaz para a aprendizagem enquanto resolve os desafios do mundo real.
                    A estrutura alimenta a colaboração para identificar grandes ideias, fazer perguntas ponderadas e identificar, investigar e resolver desafios.
                    A CBL ajuda os alunos a adquirir conhecimentos profundos na área disciplinar e a desenvolver as habilidades necessárias para prosperar em um mundo
                    em constante mudança.
                </p>
            </div>
            <div class="display-flex div-video">
                <iframe src="https://player.vimeo.com/video/226547662?h=17fc79fb66&color=ef7000&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </section>
{% endblock %}